doctype html
html(lang='en')
  head
    block vars

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title

    block styles

    link(rel='stylesheet' href='/css/main.css')

  body()
    include ../partials/_header
    
    block content
    
    include ../partials/_footer

    block scripts

    script(src='/js/app.js')
